
        .card-header {
            background-color: #f8f9fa;
        }
        .card-body {
            padding: 2rem;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .btn-custom {
            border-radius: 0.25rem;
        }
   .statistics-card {
                     border-radius: 0.5rem;
                     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                     padding: 2rem;
                     background-color: #ffffff;
                 }
                 .statistics-card h2 {
                     margin-bottom: 1rem;
                     font-size: 1.5rem;
                     color: #333;
                 }
                 .statistics-card p {
                     font-size: 1.125rem;
                     color: #555;
                 }


